<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<dict>
	<key>App ID</key>
	<string>rYQqG4pR1o1YQwFKcUTkpI5F70NReuIFLPJhD6CQ</string>
	<key>Client Key</key>
	<string>roFDz7jx40olovNOauGhhne2m1y8bQDM4LAWDwe7</string>
</dict>
</plist>
